.container{
    height: 100vh;
    width: 100vw;
    background-color: #28282B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: azure;
    font-size: larger;
    
}
#body{
    margin: 0%;
}
#clock{
    
    font-size: 40px;
    color: black;
    font-family:'Times New Roman', Times, serif;
    
}
.con{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 80px;
    background-color: yellow;
    border-radius: 10px;

}